<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
              xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/tx 
                           http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd"> 

    <!-- Bean definitions go here -->
    <tx:annotation-driven/>

    <context:component-scan base-package="com.sg.superherosightingmvc.dao" />
    <bean id="dataSource"
          class="org.apache.commons.dbcp2.BasicDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/superherosightings"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
        <property name="initialSize" value="5"/>
        <property name="maxTotal" value="10"/>
    </bean>

    <bean id="transactionManager"
      class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="jdbcTemplate"
          class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="AbilityDao" 
          class="com.sg.superherosightingmvc.dao.AbilityDaoJdbcTemplateImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    
    <bean id="AnomalyDao" 
          class="com.sg.superherosightingmvc.dao.AnomalyDaoJdbcTemplateImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    
    <bean id="LocationDao" 
          class="com.sg.superherosightingmvc.dao.LocationDaoJdbcTemplateImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    
    <bean id="OrganizationDao" 
          class="com.sg.superherosightingmvc.dao.OrganizationDaoJdbcTemplateImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    
    <bean id="SightingDao" 
          class="com.sg.superherosightingmvc.dao.SightingDaoJdbcTemplateImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    
    <bean id="UserDao"
          class="com.sg.superherosightingmvc.dao.UserDaoDbImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"/>
    </bean>
    
    <bean id="AbilityService"
          class="com.sg.superherosightingmvc.service.AbilityServiceLayerImpl">
    </bean>
    
    <bean id ="AnomalyService"
          class="com.sg.superherosightingmvc.service.AnomalyServiceLayerImpl">
    </bean>
    
    <bean id="LocationService"
          class="com.sg.superherosightingmvc.service.LocationServiceLayerImpl">
    </bean>
    
    <bean id="OrganizationService" 
          class="com.sg.superherosightingmvc.service.OrganizationServiceLayerImpl">
    </bean>
    
    <bean id="SightingService"
          class="com.sg.superherosightingmvc.service.SightingServiceLayerImpl">
    </bean>
    
    <bean id="UserService"
          class="com.sg.superherosightingmvc.service.UserServiceLayerImpl">
    </bean>
    
</beans>